
  body
  {
    background-color : #c4fb6d;
  }
  hr
  {
    border-style: none;
    border-top-style: dotted ;
    border-color: grey;
    border-width: 5px;
    width :10%;
  }
  h1
  {
  font-size: 30px;
   color:#535204;
  }
  h2,h3,h4
  {
   color:#535204;
  }
  img:hover
  {
      background-color: white;

  }
